# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Flutter
**/build/
**/.dart_tool/
**/.flutter-plugins
**/.flutter-plugins-dependencies
**/.packages

# Node/Nest
**/node_modules/
**/dist/
**/.env

# Logs
*.log
*.db
